<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>edit-address</title>
  <link rel="stylesheet" href="/css/profileSidebar.css" />
  <link rel="stylesheet" href="/css/addAddress.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <%- include("../partials/user/header.ejs") %>
  <div class="main-body">
    <%- include("../partials/user/profileSidebar.ejs") %>

    <div class="main-content">
      <div class="address-form-section">
        <div class="breadcrumb">
          <a href="/profile">Profile</a>
          <i class="fas fa-chevron-right"></i>
          <a href="/profile/address">My Address</a>
          <i class="fas fa-chevron-right"></i>
          <span> Edit Address</span>
        </div>
        <h2> <i class="fa-solid fa-file-pen" style="color: #6366f1;"></i>Edit Address</h2>

        <form action="/profile/edit-address/<%= address._id %>" method="POST">
          
          <h3>Personal Information</h3>
          <div class="form-row">
            <div class="form-group">
              <label>Full Name</label>
              <input type="text" name="fullname" value="<%= address ? address.fullname : user.fullname %>" placeholder="Full Name (required)" />
              <% if(errors?.fullname) { %>
              <p class="error-field"><i class="fas fa-exclamation-circle"></i> <%= errors?.fullname || "" %></p>
              <% } %>
            </div>
            <div class="form-group">
              <label>Mobile</label>
              <input type="tel" name="mobile" maxlength="10" value="<%= address ? address.mobile : user.mobile %>" placeholder="Phone number (required)" />
              <% if(errors?.mobile) { %>
              <p class="error-field"><i class="fas fa-exclamation-circle"></i> <%= errors?.mobile || ''%></p>
              <% } %>
            </div>
          </div>

          <h3>Address</h3>
          <div class="form-row">
            <div class="form-group">
              
              <input type="text" name="addressLine" value="<%= address ? address.addressLine : '' %>" placeholder="House Name, House Number, Locality (required)" />
              <% if(errors?.addressLine){ %>
              <p class="error-field"><i class="fas fa-exclamation-circle"></i> <%= errors?.addressLine || ''%></p>
              <% } %>
            
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
             
              <input type="text" name="state" value="<%= address ? address.state : '' %>" placeholder="State (required)" />
              <% if(errors?.state) { %>
              <p class="error-field"><i class="fas fa-exclamation-circle"></i> <%= errors?.state || '' %></p>
              <% } %>
            </div>
            <div class="form-group">
             
              <input type="text" name="district" value="<%= address ? address.district : '' %>" placeholder="District (required)" />
              <% if(errors?.district) { %>
              <p class="error-field"><i class="fas fa-exclamation-circle"></i> <%= errors?.district || '' %></p>
              <% } %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
              
              <input type="text" name="city" value="<%= address ? address.city : '' %>" placeholder="City (required)" />
              <% if(errors?.city) { %>
              <p class="error-field"><i class="fas fa-exclamation-circle"></i> <%= errors?.city || '' %></p>
              <% } %>
            </div>
            <div class="form-group">
              
              <input type="text" name="pincode" value="<%= address ? address.pincode : '' %>" placeholder="Pin Code (required)" maxlength="6" />
              <% if(errors?.pincode) { %>
              <p class="error-field"><i class="fas fa-exclamation-circle"></i> <%= errors?.pincode || '' %></p>
              <% } %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group">
             
              <input type="text" name="landmark" value="<%= address ? address.landmark : '' %>" placeholder="Landmark (optional)" />
              <p class="error-field"><%= errors?.landmark || '' %></p>
            </div>
            <div class="form-group">
              
            <select name="addressType">
                <option value="Home"
                    <%= (!address || address.addresstype === 'Home') ? 'selected' : '' %>>
                    Home
                </option>
                <option value="Work"
                    <%= (address && address.addresstype === 'Work')  ? 'selected' : '' %>>
                    Work
                </option>
            </select>
              <p class="error-field"><%= errors?.addressType || '' %></p>
            </div>
          </div>

          <div class="buttons">
            <a href="/profile/address" class="cancel-btn">Cancel</a>
            <button type="submit" class="add-btn">Update Address</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
